// Breakpoints
$breakpoints: (
    mobile: 768px,
    tablet: 1020px,
    laptop: 1240px,
    desktop: 1480px
);

@mixin media-queries($breakpoint, $direction) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @if $direction == max {
          @media (max-width: ($breakpoint-value - 1)) {
            @content;
          }
        } @else if $direction == min {
          @media (min-width: $breakpoint-value) {
            @content;
          }
        } @else {
          @media ($direction: $breakpoint-value) {
            @content
          }
        }
    
    
    } @else {
        @if $direction == max {
            @media (max-width: $breakpoint) {
            @content;
            }
        } @else if $direction == min {
            @media (min-width: $breakpoint) {
            @content;
            }
        } @else {
            @media ($direction: $breakpoint) {
            @content
            }
        }
    }
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin gap-10px {
  gap: 10px;
}

@mixin gap-50px {
  gap: 50px;
}