@use '../1-helpers/functions';
@use '../1-helpers/vars';

.header {
  text-align: center;
  cursor: pointer;
  color: vars.$third-color;
  background-color: vars.$first-color;
  &:hover {
      color: vars.$fourth-color;
  }
  width: 100%;
}