@use '../1-helpers/vars';

.button {
  align-self: flex-end;
  background-color: vars.$first-color;
  border: none;
  color: vars.$bright-color;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: vars.$fourth-color; 
  }
}