@use '../1-helpers/vars';
@use '../1-helpers/mixins';
.text-box {
  color: vars.$first-color;
  font-size: xx-large;
  &:focus {
    outline: none;
    border-color: vars.$fourth-color;
    box-shadow: 0 0 10px vars.$fourth-color;
  }
  &:placeholder {
    font-size: x-large;
    vertical-align: middle;
  }
  @include mixins.media-queries(mobile, max) {
    font-size: large;
  }
}